<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Internal Server Error - Facelift By Design', 'none')" />
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div class="m-3 error500" style="text-align: center">
		<h2>Sorry, the server has encountered an error while processing your request</h2>
	</div>

	<div th:replace="navigation :: footer_menu"></div>
	
</div>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/own-menu.js}"></script>
<script th:src="@{/js/jquery.lighter.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.t.min.js}"></script>
<script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>