<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Facelift By Design Admin', 'none')" />

<body class="hold-transition dark-mode sidebar-mini layout-fixed">
<div class="wrapper">

	<!-- Preloader -->
	<div class="preloader flex-column justify-content-center align-items-center">
		<img class="animation__shake" th:src="@{/images/faceliftlogo.png}" alt="AdminLTELogo" height="130px" width="100px">
	</div>

	<!-- Navbar -->
	<div th:replace="navigation :: menu"></div>


	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<div style="margin-left: 20px">
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>

			<a th:href="@{/users/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>

			<a th:href="@{/users/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>

			<a th:href="@{/users/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark"></a>
		</div>
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Users</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Users</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">View ,add or delete users</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body" >
								<table id="example1" class="table table-bordered table-striped">
									<thead>
									<tr >
										<th>User Id</th>
										<th>Photo</th>
										<th>E-mail</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Roles</th>
										<th>Enabled</th>
										<th></th>

									</tr>
									</thead>
									<tbody>
									<tr th:each="user : ${listUsers}">
										<td>[[${user.id}]]</td>
										<td><div th:replace="fragments :: user_photos" /></td>
										<td class="hideable-column">[[${user.email}]]</td>

										<td>[[${user.firstName}]]</td>
										<td>[[${user.lastName}]]</td>
										<td>[[${user.roles}]]</td>
										<td>
											<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
										</td>

										<td>
											<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
											&nbsp;&nbsp;
											<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
										</td>
									</tr>
									</tbody>
									<tfoot>
									<tr>
										<th>User Id</th>
										<th>Photo</th>
										<th>E-mail</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Roles</th>
										<th>Enabled</th>
										<th></th>
									</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
		<strong>Copyright &copy; 2022-2023 <a href="https://adminlte.io">Facelift By Design</a>.</strong>
		All rights reserved.
		<div class="float-right d-none d-sm-inline-block">
			<b>Version</b> 3.2.0
		</div>
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{/css/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
	$.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script  th:src="@{/js/common.js}" ></script>

<script th:src="@{/css/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- overlayScrollbars -->
<!-- AdminLTE App -->
<!-- DataTables  & Plugins -->
<script th:src="@{/css/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/css/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/css/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/css/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/css/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
<script th:src="@{/css/dist/js/adminlte.js}"></script>

<script>
	$(document).ready(function() {
		$("#logoutLink").on("click", function(e) {
			e.preventDefault();
			document.logoutForm.submit();
		});

		// customizeDropDownMenu();
		// customizeTabs();
	});




	$(function () {
		$("#example1").DataTable({
			"responsive": true, "lengthChange": false, "autoWidth": false,
			"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
		}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
		$('#example2').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
		});
	});

</script>

<!-- AdminLTE for demo purposes -->
<!--<script th:src="@{/css/dist/js/demo.js}"></script>-->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
</body>
</html>
