<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Facelift By Design Admin', 'none')" />

<body class="hold-transition dark-mode sidebar-mini layout-fixed">
<div class="wrapper">

	<!-- Preloader -->
	<div class="preloader flex-column justify-content-center align-items-center">
		<img class="animation__shake" th:src="@{/images/faceliftlogo.png}" alt="AdminLTELogo" height="130px" width="100px">
	</div>

	<!-- Navbar -->
	<div th:replace="navigation :: menu"></div>


	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<div style="margin-left:20px">
			<h2>Manage Products</h2>

			<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<a th:href="@{/products/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
				<a th:href="@{/products/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
			</th:block>

		</div>
		<div>
			<form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortDir" th:value="${sortDir}" />

				Category:&nbsp;
				<select class="form-control" name="categoryId" id="dropdownCategory">
					<option value="0">All Categories</option>

					<th:block th:each="cat : ${listCategories}">
						<option th:value="${cat.id}" th:selected="(${categoryId} == ${cat.id})">[[${cat.name}]]</option>
					</th:block>
				</select>


				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">
					<i class="fas fa-search"></i>
				</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-secondary" onclick="clearFilter()">
					<i class="fas fa-eraser"></i>
				</button>
			</form>

			<div th:if="${message != null}" class="alert alert-success text-center">
				[[${message}]]
			</div>
		</div>
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">Products</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active">Products</li>
						</ol>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">DataTable with default features</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
									<tr>
										<th>Product Id</th>
										<th>Product Image</th>
										<th>Product Name</th>
										<th>Brand</th>
										<th>Category</th>
										<th>Enabled</th>
										<th></th>

									</tr>
									</thead>
									<tbody>
									<tr th:each="product : ${listProducts}">
										<td class="hideable-column">[[${product.id}]]</td>
										<td>
											<img th:src="@{${product.mainImagePath}}" style="width: 120px" class="img-fluid" />
										</td>
										<td>
											<a class="link-detail"
											   th:href="@{'/products/detail/' + ${product.id}}"
											   th:title="${product.name}"
											>[[${product.shortName}]]</a>

										</td>
										<td class="hideable-column">[[${product.brand.name}]]</td>
										<td class="hideable-column">[[${product.category.name}]]</td>
										<td>[[${product.brand.name}]]</td>
										<td>
											<a class="fas fa-file-alt fa-2x icon-green link-detail"
											   th:href="@{'/products/detail/' + ${product.id}}"
											   title="View details of this product"
											></a>

											<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
												&nbsp;
												<div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})" />
											</th:block>

											<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
												&nbsp;
												<div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)" />
											</th:block>
										</td>
									</tr>
									</tbody>
									<tfoot>
									<tr>
										<th>Product Id</th>
										<th>Product Image</th>
										<th>Product Name</th>
										<th>Brand</th>
										<th>Category</th>
										<th>Enabled</th>
										<th></th>
									</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
		<div th:replace="modal_fragments :: confirm_modal" />

		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
				</div>
			</div>
		</div>
		<div th:replace="fragments :: pagination('products')"></div>

	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
		<strong>Copyright &copy; 2022-2023 <a href="https://adminlte.io">Facelift By Design</a>.</strong>
		All rights reserved.
		<div class="float-right d-none d-sm-inline-block">
			<b>Version</b> 3.2.0
		</div>
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<div th:replace="modal_fragments :: confirm_modal" />

<!-- jQuery -->
<script th:src="@{/css/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
	$.widget.bridge('uibutton', $.ui.button)
</script>


<script th:src="@{/css/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- overlayScrollbars -->
<!-- AdminLTE App -->
<!-- DataTables  & Plugins -->
<script th:src="@{/css/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/css/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/css/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/css/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/css/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/css/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
<script th:src="@{/css/dist/js/adminlte.js}"></script>

<script>
	$(document).ready(function() {
		$("#logoutLink").on("click", function(e) {
			e.preventDefault();
			document.logoutForm.submit();
		});

		// customizeDropDownMenu();
		// customizeTabs();
	});




	$(function () {
		$("#example1").DataTable({
			"responsive": true, "lengthChange": false, "autoWidth": false,
			"paging": false,
			"info": false,
			"ordering": true,
			"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
		}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
		$('#example2').DataTable({

			"lengthChange": true,
			"autoWidth": false,
			"responsive": true,
		});
	});

</script>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/products}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'product');
		});

		$(".link-detail").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});

		$("#dropdownCategory").on("change", function() {
			$("#searchForm").submit();
		});

	});
</script>

</body>
</html>
