<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content"  id="content">
	<!-- Popular Item Slide -->
	<!-- Item -->
	<div class="col-md-6" >
		<div class="item">
			<!-- Item Name -->
			<div class="item-name"> <a  th:href="@{${product.URI}}">[[${product.shortName}]]</a>
			</div>
			<!-- Item img -->
			<div class="item-img"> <a th:href="@{${product.URI}}"><img class="img-1" th:src="@{${product.mainImagePath}}" width="570px" height="398px" alt="" ></a>
				<!-- Overlay -->
				<div class="inn"><a th:href="@{${product.mainImagePath}}" data-lighter><i class="icon-magnifier"></i></a> <a th:href="@{${product.mainImagePath}}"><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
			</div>
			<!-- Price -->
			<div th:fragment="product_price" th:remove="tag">
				<th:block th:if="${product.discountPercent == 0}">
					<span class="price" style="font-size: larger; color: darkred"><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span>
				</th:block>

				<th:block th:if="${product.discountPercent > 0}">
					<del><span class="price deleteprice" ><div style="text-align: center" th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span></del>
					<del><span class="price" style="font-size: larger; color: darkred"><div th:replace="product/product_fragment :: price_fragment(${product.discountPrice})"></div></span></del>
				</th:block>
			</div>
		</div>
	</div>

</div>
<div th:fragment="price_fragment(productPrice)" th:remove="tag">
	<span class="price" th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">Ksh &nbsp </span>[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>
</body>
</html>