<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <head th:replace="fragments :: page_head('Facelift By Design', 'none')" />
    <link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
    <link th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- LOADER -->
<div id="loader">
    <div class="position-center-center">
        <div class="ldr"></div>
    </div>
</div>

<!-- Wrap -->
<div id="wrap">

    <!-- header -->
    <div th:replace="navigation :: header_menu"></div>


    <!--======= SUB BANNER =========-->
    <section class="sub-bnr" data-stellar-background-ratio="0.5">
        <div class="position-center-center" >
            <div class="container">
                <h4>[[${product.shortName}]]</h4>
                <div style="color: white"><p th:utext="${product.shortDescription}"></p></div>


                <div th:replace="breadcrumb :: content"></div>

            </div>
        </div>
    </section>


    <!-- Content -->
    <div id="content">

        <!-- Popular Products -->
        <section class="padding-top-100 padding-bottom-100">
            <div class="container">

                <!-- SHOP DETAIL -->
                <div class="shop-detail">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Images -->
                            <div class="row">

                                <!-- First Row -->
                                <div class="col-sm-6 margin-bottom-30" th:each="extraImage, status : ${product.images}" th:if="${status.index < 2}">
                                    <img class="img-responsive w-50 h-50" th:src="@{${extraImage.imagePath}}" th:index="${status.count}" alt="">
                                </div>

                                <!-- Second Row -->
                                <div class="col-sm-6 margin-bottom-30" th:each="extraImage, status : ${product.images}" th:if="${status.index >= 2 and status.index < 4}">
                                    <img class="img-responsive w-50 h-50" th:src="@{${extraImage.imagePath}}" th:index="${status.count}" alt="">
                                </div>

                            </div>
                        </div>


                        <!-- COntent -->
                        <div class="col-md-4">
                            <h4>[[${product.shortName}]]</h4>
                            <!--							<span class="price"><small>Ksh</small>[[${product.Price}]]</span>-->
                            <div>
                                List Price:
                                <span class="price" th:if="${product.discountPercent <= 0}"><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span>
                                <del th:if="${product.discountPercent > 0}"><span><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span></del>
                            </div>
                            <div th:if="${product.discountPercent > 0}">
                                Price:
                                <span class="price" style="font-size: larger; color: darkred"><div th:replace="product/product_fragment :: price_fragment(${product.discountPrice})"></div></span>
                                ([[${#numbers.formatDecimal(product.discountPercent, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] % off)
                            </div>

                            <!-- Sale Tags -->
                            <div class="on-sale">[[${product.discountPercent}]] %<span>OFF</span> </div>
                            <div style="margin-top: 20px">
                                <span th:if="${product.inStock}" class="text-success"><b>In Stock</b></span>
                                <span th:unless="${product.inStock}" class="text-danger"><b>Out of Stock</b></span>
                            </div>
                            <ul class="item-owner">
                                <li>Brand:<span> [[${product.brand.name}]]</span></li>
                            </ul>
                            <ul class="item-owner">
                                <li>Available Color:<span> </span></li>
                            </ul>
                            <ul class="item-owner">
                                <li>Bulb type:<span> </span></li>
                            </ul>
                            <ul class="item-owner">
                                <li>Rating :
                                    <span>
                                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="md" th:value="${product.averageRating}" />
                                        <a th:href="@{${product.URI} + '#reviews'}">[[${product.reviewCount}]] review(s)</a>

                                    </span>
                                </li>
                            </ul>


                            <!-- Item Detail -->
                            <div><p th:utext="${product.shortDescription}"></p></div>

                            <!-- Short By -->

                            <div class="some-info">



                                <!-- INFOMATION -->
                                <div class="inner-info">
                                    <h6>DELIVERY INFORMATION</h6>
                                    <p>We currently do deliveries</p>
                                    <h6>SHIPPING & RETURNS</h6>
                                    <p>In case of any issues items can be returned within 7 days  </p>

                                    <h6>SHARE THIS PRODUCT</h6>

                                    <!-- Social Icons -->
                                    <ul class="social_icons">
                                        <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                                        <li><a href="#."><i class="icon-social-twitter"></i></a></li>

                                    </ul>
                                </div>

                            </div>
                            <th:block th:if="${product.inStock}">
                                <div th:replace="cart/quantity_control :: quantity_control(1, ${product.id})"></div>
<!--                                sec:authorize="isAuthenticated()-->
                                <div class="mt-3" >
                                    <!-- ADD TO CART  sec:authorize="isAuthenticated()" -->
                                    <input  type="button" value="Add to Cart" id="buttonAdd2Cart" class="btn btn-primary" />

                                    <!-- LIKE -->
                                    <div style="margin-top: 10px">
                                        <li class="col-xs-6"> <a href="#." class="like-us"><i class="icon-heart"></i></a> </li>
                                    </div>
                                </div>
<!--                                <div class="mt-3" >-->
<!--                                    &lt;!&ndash; ADD TO CART  sec:authorize="isAuthenticated()" &ndash;&gt;-->
<!--                                    <a th:href="@{/login}"><input  type="button" value="Add to Cart"  class="btn btn-primary" /></a>-->

<!--                                    &lt;!&ndash; LIKE &ndash;&gt;-->
<!--                                    <div style="margin-top: 10px">-->
<!--                                        <li class="col-xs-6"> <a href="#." class="like-us"><i class="icon-heart"></i></a> </li>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </th:block>
                        </div>
                    </div>
                </div>

                <!--======= PRODUCT DESCRIPTION =========-->
                <div class="item-decribe">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
                        <li role="presentation" class="active"><a href="#descr" role="tab" data-toggle="tab">DESCRIPTION</a></li>
                        <li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">REVIEW ([[${product.reviewCount}]])</a></li>
                        <!--						<li role="presentation"><a href="#tags" role="tab" data-toggle="tab">INFORMATION</a></li>-->
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content animate fadeInUp" data-wow-delay="0.4s" >
                        <!-- DESCRIPTION -->
                        <div role="tabpanel" class="tab-pane fade in active" id="descr">
                            <p th:utext="${product.fullDescription}">  <br>
                            </p>

                        </div>

                        <!-- REVIEW -->
                        <div role="tabpanel" class="tab-pane fade" id="reviews">
                            <h6>[[${product.reviewCount}]] REVIEWS FOR THIS ITEM</h6>

                            <!-- REVIEW PEOPLE 1 -->
                            <div class="media">
                                <div class="media-left">
                                    <!--  Image -->
                                    <div class="avatar"> <a href="#"> <img class="media-object" src="images/avatar-1.jpg" alt=""> </a> </div>
                                </div>
                                <!--  Details -->
                                <div class="media-body">
                                    <p class="font-playfair"> </p>
                                    <h6>TYRION LANNISTER <span class="pull-right">MAY 10, 2016</span> </h6>
                                </div>
                            </div>

                            <!-- REVIEW PEOPLE 1 -->

                            <div class="media">
                                <div class="media-left">
                                    <!--  Image -->
                                    <div class="avatar"> <a href="#"> <img class="media-object" src="images/avatar-2.jpg" alt=""> </a> </div>
                                </div>
                                <!--  Details -->
                                <div class="media-body">
                                    <p class="font-playfair">“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua.”</p>
                                    <h6>TYRION LANNISTER <span class="pull-right">MAY 10, 2016</span> </h6>
                                </div>
                            </div>

                            <!-- ADD REVIEW -->
                            <h6 class="margin-t-40">ADD REVIEW</h6>
                            <form>
                                <ul class="row">
                                    <li class="col-sm-6">
                                        <label> *NAME
                                            <input type="text" value="" placeholder="">
                                        </label>
                                    </li>
                                    <li class="col-sm-6">
                                        <label> *EMAIL
                                            <input type="email" value="" placeholder="">
                                        </label>
                                    </li>
                                    <li class="col-sm-12">
                                        <label> *YOUR REVIEW
                                            <textarea></textarea>
                                        </label>
                                    </li>
                                    <li class="col-sm-6">
                                        <!-- Rating Stars -->
                                        <div class="stars"> <span>YOUR RATING</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                    </li>
                                    <li class="col-sm-6">
                                        <button type="submit" class="btn btn-dark btn-small pull-right no-margin">POST REVIEW</button>
                                    </li>
                                </ul>
                            </form>
                        </div>

                        <!-- TAGS -->
                        <div role="tabpanel" class="tab-pane fade" id="tags"> </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Popular Products -->
        <section class="light-gray-bg padding-top-150 padding-bottom-150">
            <div class="container">

                <!-- Main Heading -->
                <div class="heading text-center">
                    <h4>YOU MAY LIKE THESE</h4>
                    <span>Related products</span> </div>

                <!-- Popular Item Slide -->
                <div class="papular-block block-slide">

                    <!-- Item -->
                    <div class="item" th:each="product : ${listProducts}">
                        <!-- Item img -->
                        <div class="item-img"> <img class="img-1" th:src="@{${product.mainImagePath}}" alt="" > <img class="img-2" src="images/product-2.jpg" alt="" >
                            <!-- Overlay -->
                            <div class="overlay">
                                <div class="position-center-center">
                                    <div class="inn"><a href="images/product-1.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Item Name -->
                        <div class="item-name"> <a href="#.">stone cup</a>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                        <!-- Price -->
                        <span class="price"><small>$</small>299</span> </div>

                </div>
            </div>
        </section>
    </div>
        <!-- About -->


        <!--======= FOOTER =========-->
        <div th:replace="navigation :: footer_menu"></div>

</div>

        <div th:replace="fragments :: modal_dialog"></div>

        <!--======= RIGHTS =========-->

    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/own-menu.js}"></script>
    <script th:src="@{/js/jquery.lighter.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.t.min.js}"></script>
    <script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
    <script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
    <script th:src="@{/star-rating/themes/krajee-svg/theme.js}"></script>

    <script type="text/javascript" th:src="@{/js/common_rating.js}"></script>
    <script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/quantity_control.js}"></script>
    <script type="text/javascript" th:src="@{/js/add_to_cart.js}"></script>
    <script type="text/javascript" th:src="@{/js/review_vote.js}"></script>

<script type="text/javascript">
    contextPath = "[[@{/}]]";
    productId = "[[${product.id}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    decimalSeparator = "[[${DECIMAL_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";
    thousandSeparator = "[[${THOUSANDS_POINT_TYPE == 'COMMA' ? ',' : '.'}]]";

    $(document).ready(function() {
        bigImage = $("#bigImage");

        $(".image-thumbnail").mouseover(function() {
            currentImageSource = $(this).attr("src");
            currentImageIndex = $(this).attr("index");

            bigImage.attr("src", currentImageSource);
            bigImage.attr("index", currentImageIndex);
        });

        bigImage.on("click", function() {
            $("#carouselModal").modal("show");
            imageIndex = parseInt(bigImage.attr("index"));
            $("#carouselExampleIndicators").carousel(imageIndex);
        });
    });

</script>

</body>
</html>