<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Error - Facelift Admin', 'none')" />
</head>
<body>
<div class=" wrapper">
	<div th:replace="navigation :: menu"></div>
	<div class="content-wrapper" style="text-align: center; ">
		<h2 style="padding-top: 100px">Sorry, the server has encountered an error while processing your request</h2>

		<div th:replace="fragments :: footer"></div>
	</div>


	
</div>
</body>
</html>