<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <head th:replace="fragments :: page_head('Facelift By Design', 'none')" />


</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap">

  <!-- header -->
  <header>
    <div th:replace="navigation :: header_menu"></div>

  </header>

  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>reach out to us </h4>
        <p></p>
        <ol class="breadcrumb">
          <li><a th:href="@{/}">Home</a></li>
          <li class="active">contact</li>
        </ol>
      </div>
    </div>
  </section>

  <!-- Content -->
  <div id="content">

    <!--======= CONATACT  =========-->
    <section class="contact padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="contact-form">
          <h5>PLEASE fill up a FEW details</h5>
          <div class="row">
            <div class="col-md-8">

              <!--======= Success Msg =========-->
              <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Thank You. Your Message has been Submitted</div>
              <div class="alert alert-info" th:if="${emailSent}"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                Message sent, we'll get back to you shortly.</div>
              <!--======= FORM  =========-->
              <form th:action="@{/contact}" role="form" id="contact_form" class="contact-form" method="post" enctype="multipart/form-data">
                <ul class="row">
                  <li class="col-sm-6">
                    <label>full name *
                      <input type="text" class="form-control" name="name" id="name" placeholder="" required="required">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label>Email *
                      <input type="text" class="form-control" name="email" id="email" placeholder="" required="required">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label>Phone *
                      <input type="text" class="form-control" name="phone" id="phone" placeholder="" required="required">
                    </label>
                  </li>
                  <li class="col-sm-6">
                    <label>SUBJECT
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="" required="required">
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <label>Message
                      <textarea class="form-control" name="message" id="message" rows="5" placeholder="" required="required"></textarea>
                    </label>
                  </li>
                  <li class="col-sm-12">
                    <button type="submit" value="submit" class="btn" id="btn_submit" >SEND MAIL</button>
                  </li>
                </ul>
              </form>
            </div>

            <!--======= ADDRESS INFO  =========-->
            <div class="col-md-4">
              <div class="contact-info">
                <h6>OUR ADDRESS</h6>
                <ul>
                  <li> <i class="icon-call-end"></i> +254782966889</li>
                  <li> <i class="icon-envelope"></i> <a href="mailto:info@facelift.co.ke" target="_top">info@facelift.co.ke</a> </li>
                  <li>
                    <p>We respond typically in a few hours.</p>
                    <p>Working hours: 0800h - 1700h .</p>

                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>






  </div>

  <!--======= FOOTER =========-->
  <div th:replace="navigation :: footer_menu"></div>

</div>
<script th:src="@{js/jquery-1.11.3.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/own-menu.js}"></script>
<script th:src="@{js/jquery.lighter.js}"></script>
<script th:src="@{js/owl.carousel.min.js}"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" th:src="@{rs-plugin/js/jquery.tp.t.min.js}"></script>
<script type="text/javascript" th:src="@{rs-plugin/js/jquery.tp.min.js}"></script>
<script th:src="@{js/main.js}"></script>


</body>
</html>