<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragments :: page_head('Facelift By Design', 'none')" />

<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap">

  <!-- header -->
  <div th:replace="navigation :: header_menu"></div>


  <!--======= HOME MAIN SLIDER =========-->
  <section class="home-slider"   >

    <!-- SLIDE Start -->

    <div class="tp-banner-container"   >
      <div class="tp-banner"   >
        <ul  >
          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off"  >
            <!-- MAIN IMAGE -->
            <img th:src="@{images/facelift/img5.jpg}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption font-playfair sfb tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="-200"
                 data-speed="800"
                 data-start="500"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">The Latest Product from Face Lift</div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfl font-extra-bold tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="-120"
                 data-speed="800"
                 data-start="800"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:80px; color:#2d3a4b; text-transform:uppercase; white-space: nowrap;"><small class="font-regular">Ksh</small>10,000 </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="0"
                 data-speed="800"
                 data-start="800"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">The essence of </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="110"
                 data-speed="800"
                 data-start="1300"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;"> life itself </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="240"
                 data-speed="800"
                 data-start="2200"
                 data-easing="Power3.easeInOut"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 data-scrolloffset="0"
                 style="z-index: 8;"><a th:href="@{'/c/' + 'Flush Mounts'}" class="btn">SHOP NOW</a> </div>
          </li>

          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
            <!-- MAIN IMAGE -->
            <img th:src="@{images/facelift/img8.jpg}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption font-playfair sfb tp-resizeme"
                 data-x="center" data-hoffset="0"
                 data-y="center" data-voffset="-150"
                 data-speed="800"
                 data-start="500"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto;text-decoration-color: black; white-space: nowrap;" >The Latest Product from shopme</div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-regular tp-resizeme letter-space-4"
                 data-x="center" data-hoffset="0"
                 data-y="center" data-voffset="-50"
                 data-speed="800"
                 data-start="800"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:78px; color:#fff; text-transform:uppercase; white-space: nowrap;">Light up </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                 data-x="center" data-hoffset="0"
                 data-y="center" data-voffset="60"
                 data-speed="800"
                 data-start="1300"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:140px; color:#fff; text-transform:uppercase; white-space: nowrap;">your world </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption sfb font-extra-bold tp-resizeme"
                 data-x="center" data-hoffset="120"
                 data-y="center" data-voffset="200"
                 data-speed="800"
                 data-start="2200"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; white-space: nowrap;"><small class="font-regular">Ksh</small> 5500 </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-scrollbelowslider tp-resizeme"
                 data-x="center" data-hoffset="-120"
                 data-y="center" data-voffset="200"
                 data-speed="800"
                 data-start="2200"
                 data-easing="Power3.easeInOut"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 data-scrolloffset="0"
                 style="z-index: 8;"><a th:href="@{'/c/' + 'Pendants'}" class="btn">BUY NOW</a> </div>
          </li>
        </ul>
      </div>
    </div>
  </section>




  <section class="padding-top-100 padding-bottom-100">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>Shop by Categories</h4>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula.
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
    </div>



    <!-- New Arrival -->
    <div class="arrival-block">

      <!-- Item -->
      <div class="item" th:each="cat : ${listCategories}">
        <!-- Images -->
        <img class="img-1" th:src="@{${cat.imagePath}}" alt=""> <img class="img-2" th:src="@{${cat.imagePath}}" alt="">
        <!-- Overlay  -->
        <div class="overlay">
          <!-- Price -->
          <!--          <span class="price"><small>$</small>299</span>-->
          <div class="position-center-center"> <a th:href="@{${cat.imagePath}}" data-lighter><i class="icon-magnifier"></i></a> </div>
        </div>
        <!-- Item Name -->
        <div class="item-name"> <a th:href="@{'/c/' + ${cat.alias}}">
          <p><span th:text="${cat.alias}"></span></p></a>
        </div>
      </div>

      <!-- Item -->

    </div>
  </section>

  <!-- Content -->
  <div id="content">

    <!-- New Arrival -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container">

        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>Popular Products</h4>
          <span>lighting fixtures for your home</span> </div>
      </div>

      <!-- New Arrival -->
      <div class="arrival-block" >

        <!-- Item -->
        <div class="item" th:each="product : ${productList}">
          <!-- Images -->
          <a th:href="@{'/p/' + ${product.alias}}">
            <img class="img-1" th:src="@{${product.mainImagePath}}" alt=""> <img class="img-2" th:src="@{${product.mainImagePath}}" alt="">
          </a>
          <!-- Overlay  -->
          <div class="overlay">
            <!-- Price -->
            <span class="price" th:text="Ksh + ${product.price}"></span>
            <div class="position-center-center"> <a th:href="@{${product.mainImagePath}}" data-lighter><i class="icon-magnifier"></i></a> </div>
          </div>
          <!-- Item Name -->
          <div class="item-name"> <a th:href="@{'/p/' + ${product.alias}}">
            <p> <span th:text="${product.alias}"></span></p></a>
          </div>
        </div>


      </div>
    </section>

    <!-- Popular Products -->
    <section class="padding-top-50 padding-bottom-150">
      <div class="container">

        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>popular products</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula.
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>

        <!-- Popular Item Slide -->
        <div class="papular-block block-slide">

          <!-- Item -->
          <div class="item">
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="images/product-1.jpg" alt="" > <img class="img-2" src="images/product-2.jpg" alt="" >
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a href="images/product-1.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-basket"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList"><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="#.">stone cup</a>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
            <!-- Price -->
            <span class="price"><small>$</small>299</span> </div>

          <!-- Item -->
          <div class="item">
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="images/product-2.jpg" alt="" > <img class="img-2" src="images/product-2.jpg" alt="" >
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a href="images/product-2.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-basket"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList"><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="#.">gray bag</a>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
            <!-- Price -->
            <span class="price"><small>$</small>299</span> </div>

          <!-- Item -->
          <div class="item">
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="images/product-3.jpg" alt="" > <img class="img-2" src="images/product-2.jpg" alt="" >
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a href="images/product-3.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-basket"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList"><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="#.">chiar</a>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
            <!-- Price -->
            <span class="price"><small>$</small>299</span> </div>

          <!-- Item -->
          <div class="item">
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="images/product-4.jpg" alt="" > <img class="img-2" src="images/product-2.jpg" alt="" >
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a href="images/product-4.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-basket"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList"><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="#.">STool</a>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
            <!-- Price -->
            <span class="price"><small>$</small>299</span> </div>
        </div>
      </div>
    </section>

    <!-- Knowledge Share -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container">

        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>knowledge share</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula.
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
        <div class="knowledge-share">
          <ul class="row">

            <!-- Post 1 -->
            <li class="col-md-6">
              <div class="date"> <span>December</span> <span class="huge">27</span> </div>
              <a href="#.">Donec commo is vulputate</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam</p>
              <span>By <strong>Admin</strong></span> </li>

            <!-- Post 2 -->
            <li class="col-md-6">
              <div class="date"> <span>December</span> <span class="huge">09</span> </div>
              <a href="#.">Donec commo is vulputate</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. Sed feugiat, tellus vel tristique posuere, diam</p>
              <span>By <strong>Admin</strong></span> </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Testimonial -->
    <section class="testimonial padding-top-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">

            <!-- SLide -->
            <div class="single-slide">

              <!-- Slide -->
              <div class="testi-in"> <i class="fa fa-quote-left"></i>
                <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ullamcorper sapien lacus, eu posuere odio luctus non. Nulla lacinia, eros vel fermentum consectetur, risus p</p>
                <h5>john smith</h5>
              </div>

              <!-- Slide -->
              <div class="testi-in"> <i class="fa fa-quote-left"></i>
                <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ullamcorper sapien lacus, eu posuere odio luctus non. Nulla lacinia, eros vel fermentum consectetur, risus p</p>
                <h5>john smith</h5>
              </div>

              <!-- Slide -->
              <div class="testi-in"> <i class="fa fa-quote-left"></i>
                <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ullamcorper sapien lacus, eu posuere odio luctus non. Nulla lacinia, eros vel fermentum consectetur, risus p</p>
                <h5>john smith</h5>
              </div>
            </div>
          </div>

          <!-- Img -->
          <div class="col-sm-6"> <img class="img-responsive" src="images/testi-avatar.jpg" alt=""> </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container">

        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>about PAVSHOP</h4>
          <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
            eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
        </div>

        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    <section class="news-letter padding-top-150 padding-bottom-150">
      <div class="container">
        <div class="heading light-head text-center margin-bottom-30">
          <h4>NEWSLETTER</h4>
          <span>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odi </span> </div>
        <form>
          <input type="email" placeholder="Enter your email address" required>
          <button type="submit">SEND ME</button>
        </form>
      </div>
    </section>
  </div>

  <!--======= FOOTER =========-->
  <footer>
    <div class="container">

      <!-- ABOUT Location -->
      <div class="col-md-3">
        <div class="about-footer"> <img class="margin-bottom-30" src="images/logo-foot.png" alt="" >
          <p><i class="icon-pointer"></i> Street No. 12, Newyork 12, <br>
            MD - 123, USA.</p>
          <p><i class="icon-call-end"></i> 1.800.123.456789</p>
          <p><i class="icon-envelope"></i> info@PAVSHOP.com</p>
        </div>
      </div>

      <!-- HELPFUL LINKS -->
      <div class="col-md-3">
        <h6>HELPFUL LINKS</h6>
        <ul class="link">
          <li><a href="#."> Products</a></li>
          <li><a href="#."> Find a Store</a></li>
          <li><a href="#."> Features</a></li>
          <li><a href="#."> Privacy Policy</a></li>
          <li><a href="#."> Blog</a></li>
          <li><a href="#."> Press Kit </a></li>
        </ul>
      </div>

      <!-- SHOP -->
      <div class="col-md-3">
        <h6>SHOP</h6>
        <ul class="link">
          <li><a href="#."> About Us</a></li>
          <li><a href="#."> Career</a></li>
          <li><a href="#."> Shipping Methods</a></li>
          <li><a href="#."> Contact</a></li>
          <li><a href="#."> Support</a></li>
          <li><a href="#."> Retailer</a></li>
        </ul>
      </div>

      <!-- MY ACCOUNT -->
      <div class="col-md-3">
        <h6>MY ACCOUNT</h6>
        <ul class="link">
          <li><a href="#."> Login</a></li>
          <li><a href="#."> My Account</a></li>
          <li><a href="#."> My Cart</a></li>
          <li><a href="#."> Wishlist</a></li>
          <li><a href="#."> Checkout</a></li>
        </ul>
      </div>

      <!-- Rights -->

      <div class="rights">
        <p>©  2017 PAVSHOP All right reserved. </p>
        <div class="scroll"> <a href="#wrap" class="go-up"><i class="lnr lnr-arrow-up"></i></a> </div>
      </div>
    </div>
  </footer>

  <!--======= RIGHTS =========-->

</div>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/own-menu.js}"></script>
<script th:src="@{/js/jquery.lighter.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.t.min.js}"></script>
<script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>