<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragments :: page_head('Facelift By Design', 'none')" />

<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap">

  <!-- header -->
  <div th:replace="navigation :: header_menu"></div>


  <!--======= HOME MAIN SLIDER =========-->
  <section class="home-slider"   >

    <!-- SLIDE Start -->

    <div class="tp-banner-container"   >
      <div class="tp-banner"   >
        <ul  >
          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off"  >
            <!-- MAIN IMAGE -->
            <img th:src="@{images/facelift/img5.jpg}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption font-playfair sfb tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="-200"
                 data-speed="800"
                 data-start="500"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">The Latest Products from Face Lift</div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfl font-extra-bold tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="-120"
                 data-speed="800"
                 data-start="800"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:80px; color:#2d3a4b; text-transform:uppercase; white-space: nowrap;"><small class="font-regular">Ksh</small>10,000 </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="0"
                 data-speed="800"
                 data-start="800"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">The essence of </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="110"
                 data-speed="800"
                 data-start="1300"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;"> life itself </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-resizeme"
                 data-x="left" data-hoffset="0"
                 data-y="center" data-voffset="240"
                 data-speed="800"
                 data-start="2200"
                 data-easing="Power3.easeInOut"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 data-scrolloffset="0"
                 style="z-index: 8;"><a th:href="@{'/c/' + 'Flush Mounts'}" class="btn">SHOP NOW</a> </div>
          </li>

          <!-- SLIDE  -->
          <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
            <!-- MAIN IMAGE -->
            <img th:src="@{images/facelift/img8.jpg}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption font-playfair sfb tp-resizeme"
                 data-x="center" data-hoffset="0"
                 data-y="center" data-voffset="-150"
                 data-speed="800"
                 data-start="500"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto;text-decoration-color: black; white-space: nowrap;" >The Latest Product from Facelift</div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-regular tp-resizeme letter-space-4"
                 data-x="center" data-hoffset="0"
                 data-y="center" data-voffset="-50"
                 data-speed="800"
                 data-start="800"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:78px; color:#fff; text-transform:uppercase; white-space: nowrap;">Light up </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4"
                 data-x="center" data-hoffset="0"
                 data-y="center" data-voffset="60"
                 data-speed="800"
                 data-start="1300"
                 data-easing="Power3.easeInOut"
                 data-splitin="chars"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:140px; color:#fff; text-transform:uppercase; white-space: nowrap;">your world </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption sfb font-extra-bold tp-resizeme"
                 data-x="center" data-hoffset="120"
                 data-y="center" data-voffset="200"
                 data-speed="800"
                 data-start="2200"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.07"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; white-space: nowrap;"><small class="font-regular">Ksh</small> 5500 </div>
            <!-- LAYER NR. 4 -->
            <div class="tp-caption lfb tp-scrollbelowslider tp-resizeme"
                 data-x="center" data-hoffset="-120"
                 data-y="center" data-voffset="200"
                 data-speed="800"
                 data-start="2200"
                 data-easing="Power3.easeInOut"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 data-endspeed="300"
                 data-scrolloffset="0"
                 style="z-index: 8;"><a th:href="@{'/c/' + 'Pendants'}" class="btn">BUY NOW</a> </div>
          </li>
        </ul>
      </div>
    </div>
  </section>




  <section class="padding-top-100 padding-bottom-100">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>Shop by Categories</h4>
<!--        <span>Our products are classified to categories for easy </span> </div>-->
    </div>



    <!-- New Arrival -->
    <div class="arrival-block">

      <!-- Item -->
      <div class="item" th:each="cat : ${listCategories}">
        <!-- Images -->
        <img class="img-1" th:src="@{${cat.imagePath}}" alt=""> <img class="img-2" th:src="@{${cat.imagePath}}" alt="">
        <!-- Overlay  -->
        <div class="overlay">
          <!-- Price -->
          <!--          <span class="price"><small>$</small>299</span>-->
          <div class="position-center-center"> <a th:href="@{${cat.imagePath}}" data-lighter><i class="icon-magnifier"></i></a> </div>
        </div>
        <!-- Item Name -->
        <div class="item-name"> <a th:href="@{'/c/' + ${cat.alias}}">
          <p><span th:text="${cat.alias}"></span></p></a>
        </div>
      </div>

      <!-- Item -->

    </div>
  </section>

  <!-- Content -->
  <div id="content">

    <!-- New Arrival -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container">

        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>Popular Products</h4>
          <span>lighting fixtures for your home</span> </div>
      </div>

      <!-- New Arrival -->
      <div class="arrival-block" >

        <!-- Item -->
        <div class="item" th:each="product : ${productList}">
          <!-- Images -->
          <a th:href="@{'/p/' + ${product.alias}}">
            <img class="img-1" th:src="@{${product.mainImagePath}}" alt=""> <img class="img-2" th:src="@{${product.mainImagePath}}" alt="">
          </a>
          <!-- Overlay  -->
          <div class="overlay">
            <!-- Price -->
            <span class="price" th:text="Ksh + ${product.price}"></span>
            <div class="position-center-center"> <a th:href="@{${product.mainImagePath}}" data-lighter><i class="icon-magnifier"></i></a> </div>
          </div>
          <!-- Item Name -->
          <div class="item-name"> <a th:href="@{'/p/' + ${product.alias}}">
            <p> <span th:text="${product.alias}"></span></p></a>
          </div>
        </div>


      </div>
    </section>

    <!-- Popular Products -->
    <section class="padding-top-50 padding-bottom-150">
      <div class="container">

        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>View more products</h4>
          <span>popular lighting fixtures</span> </div>

        <!-- Popular Item Slide -->
        <div class="papular-block block-slide" >
          <!-- Item -->
          <div class="item" th:each="cat : ${listCategories}">
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" th:src="@{${cat.imagePath}}" alt="" > <img class="img-2" th:src="@{${cat.imagePath}}" alt="" >
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn"><a th:href="@{${cat.imagePath}}" data-lighter><i class="icon-magnifier"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList"><i class="icon-heart"></i></a></div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a th:href="@{'/c/' + ${cat.alias}}"></a>
              <p th:text="${cat.alias}"></p>
            </div>
            <!-- Price -->
<!--            <span class="price"><small>$</small>299</span>-->

          </div>


        </div>
      </div>
    </section>


    <!-- About -->

  </div>

  <!--======= FOOTER =========-->
  <div th:replace="navigation :: footer_menu"></div>

  <!--======= RIGHTS =========-->

</div>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/own-menu.js}"></script>
<script th:src="@{/js/jquery.lighter.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.t.min.js}"></script>
<script type="text/javascript" th:src="@{/rs-plugin/js/jquery.tp.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>