<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Facelift By Design', 'none')" />

<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap"> 
  
  <!-- header -->
  <div th:replace="navigation :: header_menu"></div>

  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>REGISTER</h4>
        <p>Create your account</p>
        <ol class="breadcrumb">
          <li><a th:href="@{/}">Home</a></li>
          <li class="active">REGISTER</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info register">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-12">
                <h6>REGISTER</h6>
                <form  th:action="@{/create_customer}" method="post" th:object="${customer}"
                       onsubmit="return checkEmailUnique(this);">
                  <ul class="row">
                    
                    <!-- Name -->
                    <li class="col-md-6">
                      <label> *FIRST NAME
                        <input type="text" th:field="*{firstName}" name="first-name" required="required"
                               maxlength="45" minlength="2" placeholder="first name">
                      </label>
                    </li>
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                      <label> *LAST NAME
                        <input type="text" th:field="*{lastName}" name="last-name"
                               required="required"  maxlength="45" minlength="2" placeholder="your last name">
                      </label>
                    </li>
                    
                    <!-- EMAIL ADDRESS -->
                    <li class="col-md-6">
                      <label> *EMAIL ADDRESS
                        <input type="email" name="email" th:field="*{email}"
                               required="required" maxlength="45" minlength="8"placeholder="Your email">
                      </label>
                    </li>
                    <!-- PHONE -->
                    <li class="col-md-6">
                      <label> *PHONE
                        <input type="text" th:field="*{phoneNumber}" class="form-control"
                               required="required" maxlength="15" minlength="8" placeholder="Your phone number">
                      </label>
                    </li>
                    
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                      <label> *PASSWORD
                        <input type="password" th:field="*{password}" name="password" required="required" maxlength="15" minlength="6"
                               oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" placeholder="">
                      </label>
                    </li>
                    
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                      <label> *RETYPE PASSWORD
                        <input type="password"id="confirmPassword" class="form-control"
                               required="required" maxlength="15" minlength="6"
                               oninput="checkPasswordMatch(this)" placeholder="">
                      </label>
                    </li>
                    <li class="col-md-6"> 
                      <!-- ADDRESS -->
                      <label>*ADDRESS LINE 1
                        <input type="text" th:field="*{addressLine1}" class="form-control"
                               required="required" maxlength="64" minlength="3" placeholder="">
                      </label>
                    </li>
                    <li class="col-md-6"> 
                      <!-- ADDRESS -->
                      <label>*ADDRESS LINE 2
                        <input type="text"  th:field="*{addressLine2}" class="form-control"
                               maxlength="64" placeholder="">
                      </label>
                    </li>
                    
                    <!-- COUNTRY -->
                    <li class="col-md-6">
                      <label> COUNTRY
                        <select class="selectpicker" name="contry-state" th:field="*{country}">
                          <th:block th:each="country : ${listCountries}">

                          <option th:value="${country.id}">[[${country.name}]]</option>
                          </th:block>
                        </select>
                      </label>
                      </label>
                    </li>
                    
                    <!-- TOWN/CITY -->
                    <li class="col-md-6">
                      <label>*TOWN/CITY
                        <input type="text" th:field="*{city}" class="form-control"
                               maxlength="45" minlength="2"  placeholder="">
                      </label>
                    </li>
                    
                    <!-- PHONE -->
                    <li class="col-md-6">
                      <button type="submit" class="btn">REGISTER </button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    
    <!-- News Letter -->

  </div>
  
  <!--======= FOOTER =========-->
  <div th:replace="navigation :: footer_menu"></div>

  
  <!--======= RIGHTS =========--> 
  
</div>
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/own-menu.js"></script> 
<script src="js/jquery.lighter.js"></script> 
<script src="js/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.tp.min.js"></script> 
<script src="js/main.js"></script>
</body>
</html>